form{ 
    display: flex;
    flex-direction: column ;
    width: 600px;
    height: 100vh; 
    justify-content: center;
  
}
.Main{ 
  position: relative;
     display: flex;
     flex-direction: column ;
    align-items: center; 
}
a{
    color: white;

}
input,select{
    width: 100%;
    padding: 8px 7px;
    font-size: 16px;
    background-color: black;
    color: white;
    margin: 15px 0px;
    border-radius: 10px;
    outline: none;
}
input::placeholder{ 
    color: lightgray;
}
input:focus{ 
    border-color: lightblue;
}
button{ 
    width: 100%;
    background-color: green ;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    margin: 10px 0px;
    color: white;
   border-radius: 10px;
   border: none;
}
.ınputClass{ 
    border-color: rgb(224, 57, 57);
}
.Errors{ 
    color: red;
}
.Formik-Name{ 
    display: flex;
    justify-content: center;
}

.Checkbox input{ 
    width: auto;
    margin: 20px 9px;
   
}